* { 
    margin: 0;
    padding: 0; 
}

body {
    color: #ffffff;
    font-family: sans-serif;
}

/*
========================================

RED VS BLUE

========================================

*/

.teams {
    display: flex;
    width: 100%;
    height: 100%;
}

.team {
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
}

.redteam {
    background: #cf012ee8;
}

.blueteam {
    background: rgb(11, 11, 151);
    /* clip-path: polygon(0 90%, 100% 10%, 100% 100%, 0% 100%); */
    /* display: flex;
    flex-direction: column-reverse; */
}

.prompt {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prompt input {
    padding: 10px;
}

/*

========================================

RED VS BLUE

========================================