* { 
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    color: #ffffff;
    /* font-family: sans-serif; */
    font-family: 'Graduate', cursive;
    background: #e0bb74;
    /* background: rgb(247,219,163); */
    background: radial-gradient(circle, rgba(247,219,163,1) 0%, rgba(224,187,116,1) 100%);
}

/*
========================================

RED VS BLUE

========================================

*/


.primary-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

#content {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

/* .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
} */

.dead-center {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: flex-start;
}

.pane {
    display: flex;
    /* justify-content: flex-start; */
    border: solid 2px #ffffff;
    height: 500px;
    color: black;
}

.pane-top {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
}

.pane-left {
    flex: 1;
    border-right: solid 2px #ffffff;
    padding: 5px;
}

.pane-right {
    flex: 3;
    display: flex;
    flex-direction: column-reverse;
}

.chatbox {
    overflow: auto;
}

.message {
    padding: 5px;
}

.messagebox {
    display: flex;
    width: 100%;
    height: 30px;
}

.messagebox input {
    flex: 4;
}

.messagebox button {
    flex: 1;
}

.user-list li{
    list-style: none;
}

.section-main {
    display: flex;
    justify-content: center;
}

.sign-content {
    margin-top: 25px;
    width: 800px;
    padding: 15px;
    background: #aa7d35;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 6px;
}

.sign-content:before{
    content: "";
    background: black;
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
    left: 100px;
}

.sign-title {
    border-bottom: solid 1px black;
    width: 85%;
    text-align: center;
}

.teams {
    margin-top: 15px;
}

.team {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
}

.redteam {
    /* background: #9C2624; */
    background: rgb(144,45,43);
    background: radial-gradient(circle, rgba(144,45,43,1) 0%, rgba(156,38,36,1) 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.blueteam {
    /* background: #13399E; */
    background: rgb(14,50,145);
    background: radial-gradient(circle, rgba(14,50,145,1) 0%, rgba(19,57,158,1) 100%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.banner {
    padding: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
      				0 6px 10px rgba(0,0,0,.15);
}

/* .banner-trail {
    position: relative;
    top: 75px;
    width: 50%;
    height: 20%;
    transform: rotate(45deg);
} */

/* .banner-trail::before {
    content: 'hi';
    display: inline-block;
    width: 200px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.banner-trail::after {
    content: 'hi';
    display: inline-block;
    width: 100px;
    transform: rotate(22deg);
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
} */

/* .team:after {
    content: "";
    position: absolute;
    bottom: -2.4em;
    left: 0;
    width: 50px;
    height: 50px;
    background: #e0bb74;
    transform: rotate(45deg);
} */

.banner-trail-red {
    /* border-left: 200px solid #9C2624;
    border-right: 200px solid #9C2624; */
    background: #9C2624;
}

.banner-trail-blue {
    /* border-left: 200px solid #13399E;
    border-right: 200px solid #13399E; */
    background: #13399E;
}

.points {
    /* font-family: 'Graduate', cursive; */
    font-size: 5.2em;
}

.prompt {
    height: 100%;
    width: 100%;
}

.prompt input {
    padding: 10px;
}

.stats {
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}

.stats h2 {
    text-align: center;
}

.road-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -1;
    perspective: 20px;
    transform-style: preserve-3d;
}

.road {
    background: #ce9e51;
    width: 10%;
    height: 100%;
}

.join {
    display: flex;
    justify-content: center;
}

.join button {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.join button:hover {
    background: #ffffff;
}

#join-red:hover {
    color: #9C2624;
}

#join-blue:hover {
    color: #13399E;
}

/* .teams {
    display: flex;
    width: 100%;
    height: 100%;
}

.team {
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
}

.redteam {
    background: #9C2624;
}

.blueteam {
    background: #13399E;
}

.prompt {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prompt input {
    padding: 10px;
} */

/* background: #cf012ee8; */
/* background: rgb(11, 11, 151); */
    /* clip-path: polygon(0 90%, 100% 10%, 100% 100%, 0% 100%); */
    /* display: flex;
    flex-direction: column-reverse; */

/*

========================================

RED VS BLUE

========================================

*/

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 

    /* .banner-trail-red {
        border-left: 100px solid #9C2624;
        border-right: 100px solid #9C2624;
    }
    
    .banner-trail-blue {
        border-left: 100px solid #13399E;
        border-right: 100px solid #13399E;
    } */

}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 


}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 


}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 

    /* .banner-trail-red {
        border-left: 200px solid #9C2624;
        border-right: 200px solid #9C2624;
    }
    
    .banner-trail-blue {
        border-left: 200px solid #13399E;
        border-right: 200px solid #13399E;
    } */

}