{% extends "trivia/base.html" %}

{% block content %}
    <div class="wrapper">
        <div class="section-main sign">
            <div class="sign-content">
                <h3 class="sign-title">Players Wanted!</h3>
            </div>
        </div>
        <div class="section-main teams">
            <div class="team redteam">
                <div class="stats stats-blue">
                    <h2 class="banner redteam">Red Team</h2>
                    <h2 class="points points-red">{{red}}</h2>
                </div>
                <div class="join">
                    {% if user.is_authenticated %}
                        <a href="{% url 'trivia:lobby' %}"><button id="join-red">Join</button></a>
                    {% else %}
                        <a href="{% url 'signup' %}"><button id="join-red">Join</button></a>
                    {% endif %}
                </div>
                <!-- <div class="banner-trail banner-trail-red"></div> -->
            </div>                              
            <div class="team blueteam">
                <div class="stats stats-blue">
                    <h2 class="banner blueteam">Blue Team</h2>
                    <h2 class="points points-blue">{{blue}}</h2>                
                </div>
                <div class="join">
                    {% if user.is_authenticated %}
                        <a href="{% url 'trivia:lobby' %}"><button id="join-blue">Join</button></a>
                    {% else %}
                        <a href="{% url 'signup' %}"><button id="join-blue">Join</button></a>
                    {% endif %}
                </div>
                <!-- <div class="banner-trail banner-trail-blue"></div> -->
            </div>
            
        </div>
        <div class="road-wrapper">
            <div class="road"></div>
        </div>
    </div>

{% endblock %}

<!-- <div class="prompt">
    <h1 class="question">{{ question }}</h1>
    <form id="rvb-form" action="" method="GET">
        {{ form.as_p }}
        <input type="submit">
    </form>
    {{ answer }}
</div> -->